@media(max-width: 500px) {
    .btnFixedD {
        display: none;
    }
    .btnFixed {
        display: block;
    }
    footer {
        margin-bottom: 60px;
    }
}

@media(max-width: 767px) {
    .header__box,
    .doorOpening__box,
    .doorOpeningPrices__box,
    .locksmithBerlin__box {
        grid-template-columns: 1fr;
    }
    .comments__wrp {
        grid-template-columns: 1fr;
        gap: 50px;
    }
}